#!{{ borgbackup_shell }}

if [ -z "$1" ] || [ ! -z "$2" ]
  then
    printf "Possible: info | init | list | backup | mount \n\n"
fi

export _fqdn="${2}"

{% for b in borgbackup_server %}
_passphrase_content="$(cat {{ b.home }}{{ b.pool }}/security/${_fqdn})"
export BORG_PASSPHRASE=${_passphrase_content}
export BORG_NEW_PASSPHRASE=${_passphrase_content}
export BORG_RELOCATED_REPO_ACCESS_IS_OK=yes
export BORG_BASE_DIR="{{ b.home }}"
{% endfor %}

# Small helper commands, like listing backups, will help us in the future :)

if [ "$1" = "info" ]
  then
    if [ -z "$2" ]; then printf "run $0 with list and use the backup-tag to request information\n"; exit 1; fi
{% for b in borgbackup_server %}
    _repository={{ b.home }}{{ b.pool }}/${_fqdn}
    /usr/local/bin/borg info {{ b.options }} ${_repository}::$2
{% endfor %}
    exit 0
fi

if [ "$1" = "mount" ]
  then
    if [ -z "$2" ]; then printf "Select the backup to mount\n"; exit 1; fi
    if [ -z "$3" ]; then printf "Select the path to mount the backup on\n"; exit 1; fi
{% for b in borgbackup_server %}
    _repository={{ b.home }}{{ b.pool }}/${_fqdn}
    /usr/local/bin/borg mount {{ b.options }} ${_repository}::$2 $3
    if [ "$?" = "0" ]; then printf "Backup mounted on $3, do not forget to unmount!\n"; fi
    exit 0
{% endfor %}
fi

if [ "$1" = "list" ]
  then
{% for b in borgbackup_server %}
    _repository={{ b.home }}{{ b.pool }}/${_fqdn}
    printf "Archives of ${_fqdn} on {{ b.fqdn }} :\n"
    /usr/local/bin/borg list {{ b.options }} -v ${_repository}
{% endfor %}
    exit 0
fi

if [ "$1" = "init" ]
  then
{% for b in borgbackup_server %}
    _repository={{ b.home }}{{ b.pool }}/${_fqdn}
    /usr/local/bin/borg init --encryption={{ borgbackup_encryption_mode }}{% if borgbackup_appendonly_repoconfig %} --append-only{% endif %} {{ b.options }} ${_repository}
{% endfor %}
    exit 0
fi

if [ "$1" = "backup" ]
  then
    _date=$(date +%Y%m%d-%H%M)

    # Running some commands pre-backup
{% for precommand in borgbackup_pre_commands %}
    {{ precommand }}
{% endfor %}

{% for b in borgbackup_server %}
    printf "Backing up ${_fqdn} to {{ b.fqdn }} :\n"
    _repository=ssh://{{ borgbackup_owner }}@{{ b.fqdn }}:{{ b.port }}{{ b.home }}{{ b.pool }}/${_fqdn}

    ssh -i ~{{ borgbackup_client_user }}/.ssh/id_rsa {{ borgbackup_client_user }}@${_fqdn} -R {{ b.port }}:localhost:22 bash <<EOSSH

[ -d "/var/log/borg-backup" ] || mkdir /var/log/borg-backup

BORG_PASSPHRASE=${_passphrase_content} BORG_NEW_PASSPHRASE=${_passphrase_content} BORG_RELOCATED_REPO_ACCESS_IS_OK=yes /usr/local/bin/borg create --progress --show-rc --exclude-caches --compression {{ borgbackup_compression }} --stats {{ b.options }} ${_repository}::main-${_date} {% for dir in borgbackup_include %}{{ dir }} {% endfor %}{% for dir in borgbackup_exclude %} --exclude '{{ dir }}' {% endfor %}2>> /var/log/borg-backup/borg-backup-${_fqdn}.log

BORG_PASSPHRASE=${_passphrase_content} BORG_NEW_PASSPHRASE=${_passphrase_content} BORG_RELOCATED_REPO_ACCESS_IS_OK=yes /usr/local/bin/borg create --progress --show-rc --exclude-caches --compression {{ borgbackup_compression }} --stats {{ b.options }} ${_repository}::logs-${_date} /var/log 2>> /var/log/borg-backup/borg-backup-${_fqdn}.log

_BORG_CREATE_ECODE="\$?"

if [ "\${_BORG_CREATE_ECODE}" -eq "0" ]; then
  printf "Backup of ${_fqdn} succeeded on $(date)\n" >> /var/log/borg-backup/borg-backup-${_fqdn}.log
else
  printf "Backup of ${_fqdn} failed on $(date)\n" >> /var/log/borg-backup/borg-backup-${_fqdn}.log
fi

{% if not borgbackup_appendonly %}
# prune old backups
BORG_PASSPHRASE=${_passphrase_content} /usr/local/bin/borg prune {{ b.options }} -v --prefix main- ${_repository} -H {{ borgbackup_retention.hourly }} -d {{ borgbackup_retention.daily }} -w {{ borgbackup_retention.weekly }} -m {{ borgbackup_retention.monthly }} -y {{ borgbackup_retention.yearly }} 2>> /var/log/borg-backup/borg-backup-${_fqdn}.log

_BORG_PRUNE_ECODE="\$?"

if [ "\${_BORG_PRUNE_ECODE}" -eq "0" ]; then
  printf "Backup prune of ${_fqdn} succeeded on $(date)\n" >> /var/log/borg-backup/borg-backup-${_fqdn}.log
else
  printf "Backup prune of ${_fqdn} failed on $(date)\n" >> /var/log/borg-backup/borg-backup-${_fqdn}.log
fi

if [ "\${_BORG_CREATE_ECODE}" -eq "0" ] && [ "\${_BORG_PRUNE_ECODE}" -eq "0" ]; then
  logrotate -f ~{{ borgbackup_client_user }}/.config/borg-backup.logrotate
fi
  {% endif %}
{% endfor %}

# Running some commands post-backup
{% for postcommand in borgbackup_post_commands %}
{{ postcommand }}
{% endfor %}

EOSSH

fi
